.alert {
  // display: none;
  padding: 0px 20px;
  color: white;
  background-color: forestgreen;
  // overflow: hidden;
  // height: 0;
  transition: all 0.5s ease;
  position: fixed;
  top: -100px;
  left: 50px;
  opacity: 0;
}

.visible {
  // display: block;
  // height: 60px;
  top: 50px;
  opacity: 1;
}
